.well {
	background-color: #fff;
}

.timebutton {
  margin: 2px;
  border-radius: 0;
}

.panel-body {
  text-align: center;
}


/*@media screen and (min-width: 480px) {
  .panel-body {
    text-align: justify;
  }
}*/

.btn-lg {
	margin-bottom: 10px;
}